.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #bc550b;#eff5f8;
    /*background:rgba(255, 138, 54, 0.9);*/
    z-index: 100000;
}

.red {
    background-color: #D50F25;
}

.yellow {
    background-color: #EEB211;
}

.green {
    background-color: #009925;
}

.blue {
    background-color: #3369E8;
}

.wrap {
    margin: 0 auto;
    line-height: 6rem;
    text-align: center;
}

.loader {
    position: absolute;
    margin: 0 auto 3rem;
    overflow: hidden;
}

.loader > div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.orbit {
    height: 20rem;
    width: 20rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: transparent;
    border-radius: 50%;
}

.orbit > div {
    top: 2.5rem;
    left: 2.5rem;
    font-size: 1rem;
    height: 15rem;
    width: 15rem;
    -ms-transform-origin: center center;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

.orbit > div:before {
    position: absolute;
    left: 50%;
    margin-left: -.5em);
    display: block;
    content: '';
    height: 4em;
    width: 4em;
    border-radius: 50%;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.orbit > div:nth-child(1):before {
    background-color: #3369E8;
}

.orbit > div:nth-child(2):before {
    background-color: #D50F25;
}

.orbit > div:nth-child(3):before {
    background-color: #009925;
}

.orbit > div:nth-child(4):before {
    background-color: #EEB211;
}

.go .loader.orbit > div {
    animation: loading-orbit 6s infinite linear;
    -webkit-animation: loading-orbit 6s infinite linear;
}

.go .loader.orbit > div:before {
    animation: loading-orbit-before 2s infinite ease-in-out;
    -webkit-animation: loading-orbit-before 2s infinite ease-in-out;
}

.loader.orbit > div:nth-child(1) {
    animation-delay: 0;
    -webkit-animation-delay: 0;
}

.loader.orbit > div:nth-child(2) {
    animation-delay: -.75s;
    -webkit-animation-delay: -.75s;
}

.loader.orbit > div:nth-child(3) {
    animation-delay: -1.5s;
    -webkit-animation-delay: -1.5s;
}

.loader.orbit > div:nth-child(4) {
    animation-delay: -2.25s;
    -webkit-animation-delay: -2.25s;
}

.loader.orbit > div:nth-child(1):before {
    animation-delay: 0;
    -webkit-animation-delay: 0;
}

.loader.orbit > div:nth-child(2):before {
    animation-delay: -.5s;
    -webkit-animation-delay: -.5s;
}

.loader.orbit > div:nth-child(3):before {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
}

.loader.orbit > div:nth-child(4):before {
    animation-delay: -1.5s;
    -webkit-animation-delay: -1.5s;
}

@-webkit-keyframes loading-orbit {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes loading-orbit-before {
    0% {
        height: 1em;
        width: 1em;
        -webkit-transform: translate3d(0, 0, 0);
        z-index: 5;
    }

    5% {
        height: 1.25em;
        width: 1.25em;
    }

    25% {
        height: 4em;
        width: 4em;
        z-index: 10;
    }

    50% {
        -webkit-transform: translate3d(1rem, 15rem, 0);
        z-index: 0;
        height: 1em;
        width: 1em;
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        z-index: 0;
        height: 1em;
        width: 1em;
    }
}

@keyframes loading-orbit {
    0% {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loading-orbit-before {
    0% {
        height: 1em;
        width: 1em;
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        z-index: 5;
    }

    5% {
        height: 1.25em;
        width: 1.25em;
    }

    25% {
        height: 4em;
        width: 4em;
        z-index: 10;
    }

    50% {
        -ms-transform: translate3d(1rem, 15rem, 0);
        transform: translate3d(1rem, 15rem, 0);
        z-index: 0;
        height: 1em;
        width: 1em;
    }

    100% {
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        z-index: 0;
        height: 1em;
        width: 1em;
    }
}
