<!--<footer class="main">

    <div class="pull-right"> <a href="http://themeforest.net/item/neon-bootstrap-admin-theme/6434477" target="_blank"><strong>Purchase this theme for $23</strong></a>
    </div>
    &copy; 2015 <strong>Neon</strong> Admin Theme by <a href="http://laborator.co" target="_blank">Laborator</a>
</footer>

-->

</div>
<!-- TS143947621010126: Xenon - Boostrap Admin Template created by Laborator / Please buy this theme and support the updates -->

<div id="chat" class="fixed" data-current-user="Art Ramadani" data-order-by-status="1" data-max-chat-history="25">

    <div class="chat-inner"> <h2 class="chat-header"> <a href="index.html#" class="chat-close"><i class="entypo-cancel"></i></a> <i class="entypo-users"></i>
            Chat


<span class="badge badge-success is-hidden">0
</span> </h2>

        <div class="chat-group" id="group-1"> <strong>Favorites</strong> <a href="index.html#" id="sample-user-123" data-conversation-history="#sample_history">

<span class="user-status is-online">
</span> <em>Catherine J. Watkins</em></a> <a href="index.html#">

<span class="user-status is-online">
</span> <em>Nicholas R. Walker</em></a> <a href="index.html#">

<span class="user-status is-busy">
</span> <em>Susan J. Best</em></a> <a href="index.html#">

<span class="user-status is-offline">
</span> <em>Brandon S. Young</em></a> <a href="index.html#">

<span class="user-status is-idle">
</span> <em>Fernando G. Olson</em></a>
        </div>

        <div class="chat-group" id="group-2"> <strong>Work</strong> <a href="index.html#">

<span class="user-status is-offline">
</span> <em>Robert J. Garcia</em></a> <a href="index.html#" data-conversation-history="#sample_history_2">

<span class="user-status is-offline">
</span> <em>Daniel A. Pena</em></a> <a href="index.html#">

<span class="user-status is-busy">
</span> <em>Rodrigo E. Lozano</em></a>
        </div>

        <div class="chat-group" id="group-3"> <strong>Social</strong> <a href="index.html#">

<span class="user-status is-busy">
</span> <em>Velma G. Pearson</em></a> <a href="index.html#">

<span class="user-status is-offline">
</span> <em>Margaret R. Dedmon</em></a> <a href="index.html#">

<span class="user-status is-online">
</span> <em>Kathleen M. Canales</em></a> <a href="index.html#">

<span class="user-status is-offline">
</span> <em>Tracy J. Rodriguez</em></a>
        </div>
    </div>
    <!-- conversation template -->

    <div class="chat-conversation">

        <div class="conversation-header"> <a href="index.html#" class="conversation-close"><i class="entypo-cancel"></i></a>

<span class="user-status">
</span>

<span class="display-name">
</span> <small></small>
        </div>
        <ul class="conversation-body">
        </ul>

        <div class="chat-textarea">
<textarea class="form-control autogrow" placeholder="Type your message">
</textarea>
        </div>
    </div>
</div>
<!-- Chat Histories -->
<ul class="chat-history" id="sample_history">
    <li>

<span class="user">Art Ramadani
</span>

        <p>Are you here?</p>

<span class="time">09:00
</span> </li>
    <li class="opponent">

<span class="user">Catherine J. Watkins
</span>

        <p>This message is pre-queued.</p>

<span class="time">09:25
</span> </li>
    <li class="opponent">

<span class="user">Catherine J. Watkins
</span>

        <p>Whohoo!</p>

<span class="time">09:26
</span> </li>
    <li class="opponent unread">

<span class="user">Catherine J. Watkins
</span>

        <p>Do you like it?</p>

<span class="time">09:27
</span> </li>
</ul>
<!-- Chat Histories -->

<ul class="chat-history" id="sample_history_2">
    <li class="opponent unread">
        <span class="user">Daniel A. Pena</span>
        <p>I am going out.</p>
        <span class="time">08:21</span> </li>
    <li class="opponent unread">
        <span class="user">Daniel A. Pena</span>
        <p>Call me when you see this message.</p>
            <span class="time">08:27
            </span> </li>
</ul>